.page {
  
  background: wheat;
  height: 97vh;
  max-height: 97vh;
  /*font-size: 1em;*/
}

.leftPanelx {
    float: left;
    margin-top: 6vh;
    height: 85vh;
    width: 67vw;
    padding: 2vh;
    background: white;
}

.leftPanel {
    position: fixed;
    left: 0;
    top: 8vh;
    height: 80vh;
    width: 48vw;
    padding: 2vh;
    background: white;
    overflow: scroll;
    
}

.rightPanelx {
    position: fixed;
    top: 8vh;
    padding: 2vh;
    height: 80vh;
    background-color: #eee;
    /*left: 100vw;*/    
    left: 73vw;
    width: 45vw;
    width:0;    
}

.rightPanel {
    position: fixed;
    top: 8vh;
    padding: 2vh;
    height: 80vh;
    background-color: #eee;
    left: 48vw;
    width: 49vw;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2vh;
    height: 4vh;
    width: 100vw;
    background-color: #ddd;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2vh;
    height: 4vh;
    width: 100vw;
    background-color: #ddd;
}


.illustration-box {
    width: 100%;
}

.illustration {
    float: left;
    width: 100%;

}

.image-file {
    width : 100%;
}


/****************************/
/*.illustration-box {*/
/*    width: 100%;*/
/*}*/

/*.illustration {*/
/*    float: left;*/
/*    width: 49%;*/
/*    max-height: 32vh;*/

/*}*/

/*.image-file {*/
/*    width : 100%;*/
/*}*/

/********************************/


/*.illustration-box {*/
/*    height: 100%;*/
/*}*/

/*.illustration {*/
/*    float: left;*/
/*    height: 49%;*/
/*}*/

/*.image-file {*/
/*    height : 100%;*/
/*}*/



@media print{
    .page {
        font-size: 20pt;
    }
}

@media screen and (orientation:portrait)  {
    
    .leftPanel  {
        width: 94vw;
    }  
    
    .rightPanel {
        left:100vw;
    }
}


@media screen and (orientation:landscape)  {
    
    /*.rightPanel {*/
    /*    left: 70vw;*/
    /*    width: 28vw;*/
    /*}*/
    
}


/*@media screen and (orientation:portrait) and (min-width:320px) { */
/*    .page {*/
/*        font-size: 1.20em*/
/*    }*/
/*}*/

/*@media screen and (orientation:portrait) and (min-width:340px) { */
/*    .page {*/
/*        font-size: 1.25em*/
/*    }*/
/*}*/

/*@media screen and (orientation:portrait) and (min-width:360px) { */
/*    .page {*/
/*        font-size: 1.3em*/
/*    }*/
/*}*/

/*@media screen and (orientation:portrait) and (min-width:380px) { */
/*    .page {*/
/*        font-size: 1.4em*/
/*    }*/
/*}*/
/*@media screen and (orientation:portrait) and (min-width:400px) { */
/*    .page {*/
/*        font-size: 1.45em*/
/*    }*/
/*}*/

/*@media screen and (orientation:portrait) and (min-width:420px) { */
/*    .page {*/
/*        font-size: 1.5em*/
/*    }*/
/*}*/

/*@media screen and (orientation:portrait) and (min-width:440px) { */
/*    .page {*/
/*        font-size: 2em*/
/*    }*/
/*}*/
/*@media screen and (orientation:portrait) and (min-width:460px) { */
/*    .page {*/
/*        font-size: 2.5em*/
/*    }*/
/*}*/
/*@media screen and (orientation:portrait) and (min-width:768px) { */
/*    .page {*/
/*        font-size: 2.5em*/
/*    }*/
/*}*/

/*@media screen and (orientation:portrait) and (min-width:1024px)  {*/
/*    .page {*/
/*        font-size: 3.5em*/
/*    }   */
/*}*/



/*@media screen and (orientation:landscape) and (min-width:568px)  {*/
/*    .page {*/
/*        font-size: 1em*/
/*    }   */
/*}*/

/*@media screen and (orientation:landscape) and (min-width:640px)  {*/
/*    .page {*/
/*        font-size: 1.15em*/
/*    }   */
/*}*/

/*@media screen and (orientation:landscape) and (min-width:667px)  {*/
/*    .page {*/
/*        font-size: 1.21em*/
/*    }   */
/*}*/

/*@media screen and (orientation:landscape) and (min-width:732px)  {*/
/*    .page {*/
/*        font-size: 1.3em*/
/*    }   */
/*}*/

/*@media screen and (orientation:landscape) and (min-width:800px)  {*/
/*    .page {*/
/*        font-size: 1.4em*/
/*    }   */
/*}*/


/*@media screen and (orientation:landscape) and (min-width:900px)  {*/
/*    .page {*/
/*        font-size: 1.9em*/
/*    }   */
/*}*/

/*@media screen and (orientation:landscape) and (min-width:1024px)  {*/
/*    .page {*/
/*        font-size: 1.95em*/
/*    }   */
/*}*/

/*@media screen and (orientation:landscape) and (min-width:1366px)  {*/
/*    .page {*/
/*        font-size: 2.6em*/
/*    }   */
/*}*/