<div class="page">
    <div class="leftPanel">
        <div class="illustration-box">
            <div class="illustration">
                <img class="image-file" 
                     [ngStyle]="imageStyle"
                     src="/assets/img/lake.jpg">
            </div>
        </div>
        <div class="story-box">
            <div class="story">
                
                I think we need to write more specific media query. Make sure if you write one media query it should be not effect to other view (Mob,Tab,Desk).
                
            </div>
        </div>
    </div>
    <div class="right-panel"></div>


</div>