/* You can add global styles to this file, and also import other style files */
.glossary {
    color:red;
}

.glossary:hover {
    cursor: pointer;
    color:blue;
}

@media print {
    
     @page {
        size: A4 landscape;
        content: "kljh hihiu";
        margin: 0cm;
        margin-top: 1.5cm;
        margin-bottom: 2.5cm;
        @bottom-left { margin:0 }

    }
}